
<section>
    <div class="container p-5">
        <div class="row  bg-light ">
            <div class="col-md-3">

            </div>
            <div class="col-md-8">
                <div>
                    <p class="display-6 p-5">EDIT-PRODUCTS</p>
                </div>
                <form action="/admin/edit-product" method="post" enctype="multipart/form-data">

                    <div class="col-md-8">
                        <div class="mb-3">
                            <input type="radio" name="category" id="helmet" class="form-check-input" value="{{product.category}}"
                                 readonly checked>

                            <label class="form-check-label">{{product.category}}</label><br><br>
                            <label for="">CATEGORY</label>

                            <select id="sub-category1" name="subcategory" class="form-select mb-3" readonly
                                placeholder="for-helmets">
                                <label for="">choose</label>
                                <option value="{{product.subcategory}}"> {{product.subcategory}}</option>
                            </select>
                        </div>

                        

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="model" id="model" placeholder="" value="{{product.model}}">
                            <label for="">MODEL*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="modelname" id="" placeholder="" value="{{product.modelDetails.name}}">
                            <label for="">NAME*</label>
                        </div>

                            <div class="form-check col-md-6">
                                <input class="form-check-input" type="checkbox" name="small" value="S"
                                    id="" >
                                <label class="form-check-label" for="">
                                    SMALL
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="medium" value="M"
                                    id="" >
                                <label class="form-check-label" for="">
                                    MEDIUM
                                </label>
                            </div>
                            <div class="form-check col-md-6">
                                <input class="form-check-input" type="checkbox" name="large" value="L"
                                    id="" >
                                <label class="form-check-label" for="">
                                    LARGE
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="extra_extra_large" value="XXL"
                                    id="flexcheckboxDefault2" >
                                <label class="form-check-label" for="flexcheckboxDefault2">
                                    EXTRA EXTRA LARGE
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="extra_large" value="XL"
                                    id="flexcheckboxDefault2" >
                                <label class="form-check-label" for="flexcheckboxDefault2">
                                    EXTRA LARGE
                                </label>
                            </div>

                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="price" name="price" value="{{product.modelDetails.price}}">
                            <label for="">PRICE*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="stock" name="stock" value="{{product.modelDetails.stock}}">
                            <label for="">STOCK*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="description" >{{product.modelDetails.description}}</textarea>
                            <label for="">DESCRIPTION*</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="features" aria-valuetext="">{{product.modelDetails.features}}</textarea>
                            <label for="">FEATURES*</label>
                        </div>
                        <div class="p-3">
                        <div class="custom-file  mb-3">
                            <label for="image1">
                            <img src="/images/product_images/{{product._id}}_1.jpg" alt="img" class="me-5" style="width:70px; cursor: pointer;" id="img1"  ></label>

                            <input type="file" class="custom-file-input" id="image1" name="image1" onchange="changePreview1(event)" hidden>

                            <label class="custom-file-label" for="customFile" >Click to update image</label>
                        </div>
                        <div class="custom-file mb-3">
                            <label for="image2">
                            <img src="/images/product_images/{{product._id}}_2.jpg" alt="img" class="me-5" style="width:70px; cursor: pointer;" id="img2">
                            <input type="file" class="custom-file-input" id="image2" name="image2" onchange="changePreview2(event)" hidden></label>
                            <label class="custom-file-label" for="customFile" >Click to update image</label>
                        </div>
                        <div class="custom-file mb-3">
                            <label for="image3">
                            <img src="/images/product_images/{{product._id}}_3.jpg" alt="img" class="me-5"  style="width:70px; cursor: pointer;" id="img3">
                            <input type="file" class="custom-file-input" id="image3" name="image3" onchange="changePreview3(event)" hidden></label>
                            <label class="custom-file-label" for="customFile">Click to update image</label>
                        </div>
                        <div class="custom-file mb-3">
                            <label for="image4">
                            <img src="/images/product_images/{{product._id}}_4.jpg" alt="img" class="me-5"  style="width:70px; cursor: pointer;" id="img4">
                            <input type="file" class="custom-file-input" id="image4" name="image4" onchange="changePreview4(event)" hidden></label>
                            <label class="custom-file-label" for="customFile">Click to update image</label>
                        </div>

                        <input type="hidden" name="productId" value="{{product._id}}">

                    </div>
                        <button class="btn active mb-3" type="submit">
                            ADD-PRODUCT
                            <span style="margin-left: 1em;"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    {{!-- change preview --}}

    function changePreview1(event){
document.getElementById('img1').src = URL.createObjectURL(event.target.files[0])
    }
    function changePreview2(event){
document.getElementById('img2').src = URL.createObjectURL(event.target.files[0])
    }
    function changePreview3(event){
document.getElementById('img3').src = URL.createObjectURL(event.target.files[0])
    }
    function changePreview4(event){
document.getElementById('img4').src = URL.createObjectURL(event.target.files[0])
    }
</script>