<section>
  <div class=" container-fluid">
    <div class="row ">
      <div class="col-md-12 col-12">
        <div>
          <div class="all-prod" style=" overflow-x:auto">
            <h3 class="tittle text-white">{{orders.address.name}}ORDER DETAILS</h3>
            <table class="table" id="myTable">
              <thead>
                <tr class="text-warning">
                  <th scope="col">#</th>
                  <th scope="col">Product Name</th>

                  <th scope="col">Image</th>
                  <th scope="col">Category</th>
                  <th scope="col">Sub-category</th>
                  <th scope="col">size </th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">status</th>
                  <th>total Amount</th>
                </tr>
              </thead>
              <tbody id="status">
                {{#each orders}}
                {{#each this.orderData.items}}
                <tr class="text-white">
                  <th scope="text-warning">{{count @index}}</th>
                  <td>{{this.name}}</td>

                  <td> <img src="/images/product_images/{{this.item}}_1.jpg" alt="" style="width:3em ;"></td>
                  <td>{{this.category}}</td>
                  <td>{{this.subcategory}}</td>
                  <td> {{this.selectedSize}}</td>
                  <td> {{this.quantity}}</td>
                  <td>&#8377; {{this.price}}</td>
                  <td class=""  style="">
                    <i class="fa-regular fa-circle-check text-success"></i>
                    {{this.status}}
                  </td>
                  {{/each}}
                  <td>
                    {{#if this.orderData.discountData}}
                    {{this.orderData.discountData.total}}
                    {{else}}
                    {{this.orderData.cartTotal}}
                    {{/if}}
                  </td>

                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="/javascripts/place-order.js"> </script>