<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<section>
  <div class=" container-fluid">
    <div class="row ">
      <div class="col-md-12 col-12">
        <div>
          <div class="all-prod text-white" style=" overflow-x:auto">
            <h3 class="tittle text-white">ALL PRODUCTS</h3>
            <table class="table"  id="myTable">
              <thead>
                <tr class="text-warning" >
                  <th scope="col">#</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Model</th>
                  <th scope="col">Image</th>
                  <th scope="col">Category</th>
                  <th scope="col">Sub-category</th>
                  <th scope="col">Available Sizes & stock</th>
                  <th scope="col">Price</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each products}}
                <tr class="text-white">
                  <th scope="text-warning">{{@index}}</th>
                  <td>{{this.modelDetails.name}}</td>
                  <td>{{this.model}}</td>
                  <td> <img src="/images/product_images/{{this._id}}_1.jpg" alt="" 
                      style="width:3em ;"></td>
                  <td>{{this.category}}</td>
                  <td>{{this.subcategory}}</td>
                  <td>{{#each this.modelDetails.size}} {{this.size}}:{{this.stock}},  {{/each}}</td>
                  <td>&#8377; {{this.modelDetails.price}}</td>
                  <td>
                    <a class="bg-black" href="/admin/edit-product/{{this._id}}"   ><i class="fa-solid fa-file-pen fs-5  text-info"></i></a>
                    <button class="bg-black" onclick="deleteProduct('{{this._id}}') " ><i class="fa-solid fa-trash-can fs-5 text-danger"></i></button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="/javascripts/ajax.js"> </script>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src=" https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src= "https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $('#myTable').DataTable();
</script>

