<section>
    <div class="main-banner inner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4 col-12">
                    <div id="logo">
                        <h1> <a href="/"><span class="fa-s fa-solid" aria-hidden="true"></span>cram</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li>
                            <section class="main">
                                <div class="search">
                                <input type="" name="" placeholder="Search..." onkeyup=search(this.value) />
                                <ul class="results" id="searchResults">
                                    {{!-- <li><a href="index.html">Search Result #1<br /><span>Description...</span></a></li> --}}
                                </ul>
                                </div>
                            </section>
            
            </li>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="javascript:void(0)" onclick="sortSize('helmet')">HELMETS</a></li>
            <li><a href="javascript:void(0)" onclick="sortSize('accessories')">ACCESSORIES</a></li>
            <li>
                <!-- First Tier Drop Down -->
                {{#if user1}}
                <label for="drop-2" class="toggle">{{user1.firstName}}<span class="fa fa-angle-down"
                        aria-hidden="true"></span> </label>
                <a href="">{{user1.firstName}}<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    {{else}}
                    <label for="drop-2" class="toggle">LOGIN<span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="/login">LOGIN<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2" />
                    <ul>
                        {{/if}}
                        {{#if user1}}
                        <li><a href="/logout">LOGOUT</a></li>
                        <li><a href="/profile">PROFILE</a></li>
                        <li><a href="/orders">ORDERS</a></li>
                        {{else}}
                        <li><a href="/login">LOGIN</a></li>
                        <li><a href="/signup">USER REGISTARTION</a></li>
                        {{/if}}

                    </ul>
            </li>
            <li><a href="/contactus">Contact</a></li>
            <li><a href="/cart"><img src="/images/bag-09.svg"><span class="badge text-warning"
                        id="cartCount">{{cartCount}}</span></a></li>
            <li><a href="/wishlist"><i class="fa-regular fa-heart fs-5" style="margin-top: 5.5px"></i><span
                        class="badge text-warning" id="wishCount">{{wishlistCount}}</span></a></li>
            </ul>
            </nav>
            <!-- //nav -->
    </div>
    </header>
    <!-- //header -->
    <!--/banner-->
    </div>
</section>
<style>
    input {
        font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #ffffff;
    }

    .search {
        position: relative;
        margin: 0 auto;
        width: 200px;
    }

    .search input {
        height: 26px;
        width: 100%;
        padding: 0 12px 0 25px;
        background: rgb(60, 58, 58) ;
        border-width: ;
        border-style: solid;
        border-color: #000 #000 #000;
        border-radius: 13px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc ;
        -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc ;
        -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc ;
        -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc ;
        box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc ;
    }

    .search input:focus {
        outline: none;
        border-color: #66b1ee;
        -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
        -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
        -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
        -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
        box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    }

    .search input:focus+.results {
        display: block
    }

    .search .results {
        display: list-item;
        list-style: none;
        position: absolute;
        background-color: #fdfdfd;
    }

    .search .results li {
        display: block
    }
    
    .search .results a {
        display: block;
        position: relative;
        margin: 0 -1px;
        color: #000;
        font-weight: 300;
        text-shadow: 0 1px #fff;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    
.search .results li:first-child:hover:before,
.search .results li:first-child:hover:after {
  display: none
}
    .search .results a:before {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -9px;
        
    }

    .search .results a:hover {
        text-decoration: none;
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
        border-color: #2380dd #2179d5 #1a60aa;
        background-color: #338cdf;
    }

    :-moz-placeholder {
        color: #a7aabc;
        font-weight: 200;
    }

    ::-webkit-input-placeholder {
        color: #a7aabc;
        font-weight: 200;
    }

    .lt-ie9 .search input {
        line-height: 26px
    }
</style>
<script>
     $(document).on("click", function(event){
        var $trigger = $(".results");
        if($trigger !== event.target && !$trigger.has(event.target).length){
            $(".results").slideUp("fast");
        }            
    });
</script>
<script src="javascripts/ajax.js"></script>