<script src="/javascripts/ajax.js"></script>
<link rel="stylesheet" href="/stylesheets/user-profile.css">

<section class="">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">Cart</li>
    </ol>


<div class="container emp-profile">
    <div class="row d-flex r  h-100">
      <div class="col-12 col-md-7">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="h5">SHOPPING CART</th>

              </tr>
            </thead>
            <tbody>
              {{#each cartItems.products}}
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="/images/product_images/{{this.item}}_1.jpg" class="img-fluid rounded-3"
                      style="width: 120px;" alt="img">
                    <div class="flex-column ms-4">
                      <p class="mb-0">{{this.name}}</p>
                      <p class="mb-0">{{this.subcategory}}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <p class="e-auto" style="font-weight: 500;">{{this.category}}</p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <button class="btn btn-link " onclick="changeQuantity('{{this.item}}','{{../cartItems._id}}',-1)">
                      <i class="fas fa-minus"></i>
                    </button>
                    <span id={{this.item}} class="mt-2">{{this.quantity}}</span>

                    <button class="btn btn-link px-2"
                      onclick="changeQuantity('{{this.item}}','{{../cartItems._id}}',1)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle">
                  <m class="" style="font-weight: 500;">&#8377; {{this.price}}</m>
                </td>
                <td>
                  <a onclick="removeItem('{{../cartItems._id}}','{{this.item}}','{{this.name}}',)"><i
                      class="fa-regular fa-circle-xmark fs-5 text-danger"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12 col-md-4 m5-1 ms-5">
 
        <th class="h5 ">ORDER SUMMARY</th>
        {{#each cartItems.products}}
        <hr>
        <tr scope="row ">
          <div class="d-flex align-items-center">
            <img src="/images/product_images/{{this.item}}_1.jpg" class="img-fluid rounded-3" style="width: 75px;"
              alt="Book">
            <div class="flex-column ms-4">
              <p class="mb-0">{{this.name}}</p>
              <p class="mb-0">size:

                <select name="size" id="" required>
                  <option>Select</option>
                  {{#each this.size}}

                  <option value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </p>
              <p class="mb-0">quantity: {{this.quantity}}</p>

            </div>
          </div>
        </tr>
        {{/each}}
        <div class="form-floating mb-3 p-5">
               <input type="text" class="form-control" id="" placeholder="" onchange="checkCouponCode(this.value,'{{total.total}}')">
               <label for="">Apply Coupon</label>
               <span class="" id="couponValid"></span>
            </div>
        <div class="d-flex justify-content-between" style="font-weight: 500;">
          <p class="mb-2">Subtotal</p>
          <p class="mb-2" id="">&#8377; <span id="total"> {{total.total}}</span></p>
        </div>

        <div class="d-flex justify-content-between" style="font-weight: 500;">
          <p class="mb-0">coupon discount</p>
          <p class="mb-0">&#8377; <span id="discount">0</span></p>
        </div>

        <hr class="my-4">

        <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
          <p class="mb-2">Total (tax included)</p>
          <p class="mb-2" id="grantTotal">{{total.total}}</p>
        </div>

        <button type="" class="btn btn-success btn-block ">
          <div class="d-flex justify-content-between">
            <span>Checkout</span>
            <span>$26.48</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>