<link rel="stylesheet" href="/stylesheets/user-profile.css">

<section class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Cart</li>
  </ol>


  <div class="container emp-profile">

    <div class="row d-flex r  h-100">
      {{#if total}}
      <div class="col-12 col-md-8">

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th class="h5">SHOPPING CART</th>
              </tr>
            </thead>

            <tbody>
              {{#each cartItems.products}}
              <tr>
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img src="/images/product_images/{{this.item}}_1.jpg" class="img-fluid rounded-3"
                      style="width: 120px;" alt="img">
                <td>
                  <div class="flex-column ms-4">
                    <h6><strong>{{this.name}}</strong></h6>
                    <h6 style="font-family:sans-serif;">{{this.subcategory}}</h6>

                    <h6>{{this.category}}</h6>
                  </div>
                </td>
        </div>
        </th>


        <td class="align-middle">
          <div class="d-flex flex-row">
            <button class="btn btn-link "
              onclick="changeQuantity('{{this.item}}','{{../cartItems._id}}','{{this.selectedSize}}',-1)">
              <i class="fas fa-minus"></i>
            </button>
            <span id={{this.item}}{{this.selectedSize}} class="mt-2">{{this.quantity}}</span>

            <button class="btn btn-link px-2"
              onclick="changeQuantity('{{this.item}}','{{../cartItems._id}}','{{this.selectedSize}}',1)">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </td>
        <td class="align-middle">
          <m class="" style="font-weight: 500;">&#8377; {{this.price}}</m>
        </td>
        <td>
          <a onclick="removeItem('{{../cartItems._id}}','{{this.item}}','{{this.name}}','{{this.selectedSize}}')"><i
              class="fa-regular fa-circle-xmark fs-5 text-danger"></i></a>
        </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
      </div>
    </div>

    <div class="col-12 col-md-4">

      <th class="h5">ORDER SUMMARY</th>
      {{#each cartItems.products}}
      <hr>
      <tr scope="row ">
        <div class="d-flex">
          <img src="/images/product_images/{{this.item}}_1.jpg" class="img-fluid rounded-3" style="width: 75px;"
            alt="Book">

          <div class="flex-column ms-auto me-5">
            <h6 class="mb-0 text-right">{{this.name}}</h6>
            <div class="" id="sizeDiv">
              <h6 class="mb-0">size: <strong>{{this.selectedSize}}</strong></h6>

              <select name="size" id="size" onchange="updateSize('{{../cartItems._id}}','{{this.item}}',this.value)"
                required>

                <option value="{{choosenSize selectedSize}}">{{choosenSize selectedSize}}</option>

                {{#each this.size}}

                <option value="{{this.size}}">{{this.size}}</option>
                {{/each}}

              </select>
            </div>
            <h6 class="mb-0">quantity:{{this.quantity}}</h6>

          </div>
        </div>
      </tr>
      {{/each}}
      
   
      <form action="/place-order" method="post">
        <div class="form-floating mb-3 p-5 text-black">
          <input type="text" class="form-control" id="couponInput" name="couponInput"
            onchange="checkCouponCode(this.value)">
          <label for="">Apply Coupon</label>
          <span class="" id="couponValid"></span>
        </div>
        <div class="mb-4">
          
             <a style="cursor: pointer; color: blue" onclick=$('#myModal').modal('show')>Click to see offers</a>
        </div>
        <div class="d-flex justify-content-between" style="font-weight: 500;">
          <p class="mb-2">Subtotal</p>
          <p class="mb-2" id="">&#8377; <span id="total"> {{total.total}}</span></p>
        </div>

        <div class="d-flex justify-content-between" style="font-weight: 500;">
          <p class="mb-0">coupon discount</p>
          <p class="mb-0">&#8377; <span id="discount">0</span></p>
        </div>

        <hr class="my-4">

        <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
          <p class="mb-2">Total (tax included)</p>
          <p class="mb-2" id="grandTotal">{{total.total}}</p>

        </div>
        <button type="submit" id="placeOrderBtn" class="btn btn-success btn-block ">
          <div class="d-flex justify-content-between">
            <span>Checkout</span>
            {{!-- <span>$26.48</span> --}}
          </div>
        </button>
    </div>
    </form>
    {{else}}
    <div class="col-md-12">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th class="h5">CART IS EMPTY </th>
            </tr>
          </thead>
        </table>
        <div class="col-md-6">
          <a href="/" class="custom-btn">HOME <i class="fa-solid fa-home"></i></a>
        </div>
        <div class="col-md-6">
          <a href="/wishlist" class="custom-btn">GO TO WISH LIST <i class="fa-solid fa-heart"></i></a>

        </div>
      </div>

      {{/if}}
    </div>
  </div>
</section>
<section>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content modalOffer">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="exampleModalLongTitle">Click To Copy</h5>
          <button type="button" class="close" data-dismiss="modal" onclick=$('#myModal').modal('hide')
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="list-group text-white">
            {{#each offers}}
            <button class="list-group-item list-group-item-action modalOffer" id="{{this._id}}"
              onclick=copyOfferCode("#{{this._id}}") value="{{this.couponName}}">{{this.couponName}}</button>
            {{/each}}
            <script>
              function copyOfferCode(coupon) {
                console.log('coupon', coupon)
                var $temp = $("<div>");
                $("body").append($temp);
                $temp.attr("contenteditable", true)
                  .html($(coupon).html()).select()
                  .on("focus", function () { document.execCommand('selectAll', false, null); })
                  .focus();
                document.execCommand("copy");
                $temp.remove();
                $('#myModal').modal('hide')
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script src="/javascripts/ajax.js"></script>
</section>
<style>
  .modalOffer {
    background-color: rgba(0, 0, 0, .7);
    color: #feff31;
  }
</style>
<script src="/javascripts/ajax.js"></script>