<script src="/javascripts/ajax.js"></script>
<section id="">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">{{category}}</li>
    </ol>
    <div class="">
        <img src='/images/banners/{{category}}.jpg' class="img-fluid">
    </div>
    <div class="row">
        <div class="side-bar col-lg-3">

            <!--preference -->
            <div class="left-side my-4">
                <a class="btn active ms-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    PRODUCTS
                </a>


                <div class="collapse" id="collapseExample">
                    <div class="card card-body" style="border-color: transparent;">
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="radio" class="checked"  value="racing" onChange="sortSize(this.value)"
                                    {{check category "racing" }}>
                                <span class="span">RACING</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="sport" onChange="sortSize(this.value)"
                                    {{check category "sport" }}>
                                <span class="span">SPORT</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="touring" onChange="sortSize(this.value)" 
                                    {{check category "touring" }}>
                                <span class="span">TOURING</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="off-road" onChange="sortSize(this.value)" 
                                    {{check category "off-road" }}>
                                <span class="span">OFF-ROAD</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="visors" onChange="sortSize(this.value)" 
                                    {{check category "visors" }}>
                                <span class="span">VISORS</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="communications" onChange="sortSize(this.value)"
                                     {{check category "communications" }}>
                                <span class="span">COMMUNICATIONS</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="pads" onChange="sortSize(this.value)" 
                                 {{check category "pads" }} >
                                <span class="span">PADS</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" value="others" onChange="sortSize(this.value)" 
                                    {{check category "others" }}>
                                <span class="span">OTHERS</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- // preference -->

            <!-- sizes -->          {{!--HELPER DEFINED IN HANDLEBARHELPERS.JS--}}

            <div class="left-side my-4" style={{sizeToggle category}}>                                    
                <a class="btn active ms-3" data-bs-toggle="collapse" href="#sizecollapse" role="button"
                    aria-expanded="true" >
                    SIZES
                </a>
                <div class="collapse" id="sizecollapse">
                    <div class="card card-body" style="border-color: transparent;">
                        <ul class="w3layouts-box-list">
                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="S"
                                    onChange="sortSize('{{category}}')" {{checkSize filterSize category "S" }}>
                                <span class="span">S</span>
                            </li>

                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="M"
                                    onChange="sortSize('{{category}}')" {{checkSize filterSize category "M" }}>
                                <span class="span">M</span>
                            </li>
                            <li>
                                <input class="checked ms-3 " type="checkbox" name="size" value="L"
                                    onChange="sortSize('{{category}}')" {{checkSize filterSize category "L" }}>
                                <span class="span">L</span>

                            </li>
                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="XL"
                                    onChange="sortSize('{{category}}')" {{checkSize filterSize category "XL" }}>
                                <span class="span">XL</span>
                            </li>

                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="XXL" class="ms-3"
                                    onChange="sortSize('{{category}}')" {{checkSize filterSize category "XXL" }}>
                                <span class="span">XXL</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- //sizes -->
        </div>
        <div class="left-ads-display col-lg-8">
            <div class="row" id="category">
                <div class="row">
                    <div class="col-md-3 p-2">
                        <select name="sort" id="sortSelection" class="form-select" onchange="sortSize('{{category}}')" >
                            <option value="price_asc" {{checkSort sortBy "price_asc" }}> Price Low To High</option>
                            <option value="price_desc" {{checkSort sortBy "price_desc" }} > Price High To Low</option>
                            <option value="new" {{checkSort sortBy "new" }}> What's New</option>
                            <option value="top_sellers" {{checkSort sortBy "top_sellers" }}> Top Sellers</option>
                            <option value="top_rated" {{checkSort sortBy "top_rated" }}> Top Rated </option>
                        </select>
                    </div>
                </div>
                <span id=" product"> {{#each products}} </span>
                <div class="col-md-3 col-6 col-sm-4 product-men p-1">
                    <a href="/view-product/{{this._id}}">
                        <div class="product-shoe-info shoe ">
                            <div class="men-thumb-item">
                                <img src="/images/product_images/{{this._id}}_1.jpg" class="img-fluid" alt="img"
                                    style="width: 246px;height: 246px;">
                    </a>

                </div>
                <div class="item-info-product">
                    <h6 class="">
                        <a href="/view-product/{{this._id}}" class="text-black">{{this.modelDetails.name}} </a>
                        <p class="item-info-category">{{this.subcategory}}</p>
                    </h6>


                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money">&#8377; {{this.modelDetails.price}}</span>
                        </div>
                    </div>
                    {{!-- <ul class="stars ">
                        <li><a href="#"><span class="fa fa-star" style='color: #f3da35' aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="fa fa-star" style='color: #f3da35' aria-hidden="true"></span></a>
                        </li>
                        <li><a href="#"><span class="fa fa-star-half-o" style='color: #f3da35'
                                    aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" style='color: #f3da35'
                                    aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-o" style='color: #f3da35' aria-hidden="true"></span></a>
                        </li>
                    </ul> 
                    <button class="btn active" onclick="addToCart('{{this._id}}','{{this.modelDetails.name}}',
                        '{{this.subcategory}}','{{category}}','{{this.modelDetails.price}}',
                        '{{this.modelDetails.size}}')"><i class="fa-solid fa-cart-plus"></i> ADD TO CART </button> --}}

                    <button class= "btn active  btn-outline-black" onclick="addToWishlist('{{this._id}}')"> WISHLIST
                        <i class="fa-regular fa-heart"></i></button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    </div>
    </div>
</section>