<script src="/javascripts/ajax.js"></script>
<section id="">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">{{category}}</li>
    </ol>
    <div class="">
        <img src='/images/banners/{{category}}.jpg' class="img-fluid">
    </div>
    <div class="row">
        <div class="side-bar col-lg-3">

            <!--preference -->
            <div class="left-side my-4">
                <a class="btn active ms-3" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    PRODUCTS
                </a>


                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <ul class="w3layouts-box-list">
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/racing'"
                                    value="racing">
                                <span class="span">RACING</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/sport'">
                                <span class="span">SPORT</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/touring'">
                                <span class="span">TOURING</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/off-road'">
                                <span class="span">OFF-ROAD</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/visors'">
                                <span class="span">VISORS</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/communications'">
                                <span class="span">COMMUNICATIONS</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/pads'">
                                <span class="span">PADS</span>
                            </li>
                            <li>
                                <input type="radio" class="checked" onclick="location.href='/category/others'">
                                <span class="span">OTHERS</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- // preference -->

            <!-- sizes -->
            <div class="left-side my-4" style={{sizeToggle category}}>
                <a class="btn active ms-3" data-bs-toggle="collapse" href="#sizecollapse" role="button"
                    aria-expanded="true" aria-controls="">
                    SIZES
                </a>


                <div class="collapse" id="sizecollapse">
                    <div class="card card-body">
                        <ul class="w3layouts-box-list">
                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="S"
                                    onChange="sortSize('{{category}}')">
                                <span class="span">S</span>
                            </li>

                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="M"
                                    onChange="sortSize('{{category}}')">
                                <span class="span">M</span>
                            </li>
                            <li>
                                <input class="checked ms-3 " type="checkbox" name="size" value="L"
                                    onChange="sortSize('{{category}}')">
                                <span class="span">L</span>

                            </li>
                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="XL"
                                    onChange="sortSize('{{category}}')">
                                <span class="span">XL</span>
                            </li>

                            <li>
                                <input class="checked ms-3" type="checkbox" name="size" value="XXL" class="ms-3"
                                    onChange="sortSize('{{category}}')">
                                <span class="span">XXL</span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- //sizes -->
        </div>
        <div class="left-ads-display col-lg-8">
            <div class="row" id="category">
                <div class="row">
                    <div class="col-md-3 p-2">
                        {{!-- <select name="sort" id="" class="form-select"
                            onchange="location.href='/sort?category={{category}}&sort=  ' "> --}}

                            <select name="sort" id="sortSelection" class="form-select"
                                onchange="sortSize('{{category}}') ">
                                <option value="price_asc">Price Low To High
                                </option>
                                <option value="price_desc">Price High To Low</option>
                                <option value="new">What's New</option>
                                <option value="top_sellers">Top Sellers</option>
                                <option value="top_rated">Top Rated</option>
                            </select>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>