<script src="/javascripts/ajax.js"></script>

<section class="h-100 gradient-custom">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      {{#if orders.orders}}
      <div class="col-lg-10 col-xl-8 col-12">
        {{#each orders.orders}}
        <div class="card mt-4" style="border-radius: 10px;">
          {{!-- <div class="card-header px-4 py-5">
            <h5 class="text-muted mb-0"> your Orders <span style="color: #a8729a;">{{this.address.name}}</span>!</h5>
          </div> --}}
          <div class="card-body ">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead  mb-0" style="color: #000;">ORDER : {{this._id}}</p>
              <p class="small text-muted mb-0">Receipt Voucher : {{this.receipt}}</p>
            </div>
            <div class="card shadow-0 border mb-4">
              <div class="card-body ">
                {{#each this.orderData.items}}

                <div class="col-md-2 ms-auto text-center d-flex justify-content-center align-items-center">

                  <button class="cancel-btn" style="{{cancelStatus this.status}}"  value="cancelled"
                    onclick="cancelOrderUser('{{../this._id}}','{{this.item}}',this.value,'{{this.name}}','{{this.selectedSize}}')">Cancel</button>
                </div>

                <div class="row p-3">

                  <div class="col-md-2">
                   <a href="/view-product/{{this.item}}"> <img src="/images/product_images/{{this.item}}_1.jpg" class="img-fluid" alt=""> </a>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-black mb-0">{{this.name}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-black mb-0 small">{{this.category}}</p>
                  </div>

                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-black mb-0 small">Size: {{this.selectedSize}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-black mb-0 small">Qty: {{this.quantity}}</p>
                  </div>
                  <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-black mb-0 small"> &#8377; {{this.price}}</p>
                  </div>

                </div>

                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                <div class="row d-flex align-items-center">
                  <div class="col-md-2">
                    <p class="text-black mb-0 small">Order Status: {{this.status}}</p>
                  </div>
                  <div class="col-md-10 c">
                    <div class="progress" style="height: 6px; border-radius: 16px;">
                      <div class="progress-bar" role="progressbar"
                        style="width: {{checkOrderStatus this.status}} ; border-radius: 16px; background: -webkit-linear-gradient(left, #000, rgb(19, 228, 211));"
                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="d-flex justify-content-around mb-1">

                      <p class="text-muted mt-1 mb-0 small ms-xl-5">CONFIRMED</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">SHIPPED</p>
                      <p class="text-muted mt-1 mb-0 small ms-xl-5">DELIVERED</p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>

            <div class="d-flex justify-content-between pt-2">
              <p class="fw-bold mb-0">Order Details</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> &#8377;{{this.orderData.cartTotal}}</p>
            </div>

            <div class="d-flex justify-content-between pt-2">
              
              <p class="text-muted mb-0"><span class="fw-bold me-4">Invoice Date :</span> {{orderDate this.date}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> &#8377; {{checkDiscountValue
                this.orderData.discountData.discount}}</p>
            </div>

            <div class="d-flex justify-content-between ">
              <p class="text-muted mb-0"><span class="fw-bold me-4">Order Status :</span> {{this.status}}</p>
              <p class="text-muted mb-0"><span class="fw-bold me-4">Coupon </span> {{checkDiscountCode
                this.orderData.discountData.couponCode}}</p>
            </div>

            <div class="d-flex justify-content-between mb-5">
              <p></p>
              <p class="text-muted mb-0 me-1"><span class="fw-bold me-4">After Discount</span> &#8377;
                {{checkDiscountValue this.orderData.discountData.total}}</p>
            </div>
              <p class=" mb-0">TransactionId : {{this.TransactionId}}</p>
           
            {{#if  this.paymentReciept}}
            <a href="{{this.paymentReciept}}"> STRIPE RECIEPT</a>
            {{/if}}
          </div>
          <div class="card-footer  px-4 py-5"
            style="background: -webkit-linear-gradient(right, #000, rgb(118, 231, 248));">
            <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
              paid: <span class="h2 mb-0 ms-2">&#8377;
                {{#if this.orderData.discountData}}
                {{this.orderData.discountData.total}}
                {{else}}
                {{this.orderData.cartTotal}}
                {{/if}}</span></h5>
          </div>
        </div>
        {{/each}}
        <div class="pagination" >
          <button class="btn" onclick='window.location="/orders?page={{orders.previous.page}}"'>
            <svg xmlns="http://www.w3.org/2000/svg" class="btn--icon"  fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
          </button>
          {{!-- <div class="pages">
            <a class="page" href="/orders?page={{orders.previous.page}}">1</a>
            <a class="page"href="/orders?page={{orders.next.page}}">2</a>
            <a class="page ">3</a>
            <a class="page">4</a>
            <a class="page">5</a>
            <a class="page">6</a>
            <a class="page">...</a>
            <a class="page">23</a>
          </div> --}}
          <button class="btn" onclick='window.location="/orders?page={{orders.next.page}}"'>
            <svg xmlns="http://www.w3.org/2000/svg" class="btn--icon" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </button>
        </div>
      </div>
      {{else}}
       <div class="col-md-12">
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th class="h5">SORRY NO ORDERS </th>
            </tr>
          </thead>
        </table>
        <div class="col-md-6">
          <a href="/" class="custom-btn">HOME <i class="fa-solid fa-home"></i></a>
        </div>
        <div class="col-md-6">
          <a href="/wishlist" class="custom-btn">GO TO WISH LIST <i class="fa-solid fa-heart"></i></a>

        </div>
      </div>
      </div>
      {{/if}}
    </div>
  </div>
</section>
<style>
  body {
    background: -webkit-linear-gradient(left, #000, rgb(228, 228, 19));
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
  }

  .pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .page {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .page:hover {
    background-color: #087f5b;
    color: #fff;
  }

  .activePage {
    background-color: #087f5b;
    color: #fff;
  }

  .cancel-btn {

    border-radius: .5rem;
    width: 60%;
    padding: 2%;
    font-weight: 450;
    color: #000;
    cursor: pointer;
    background: #fff;
    opacity: .7;
  }

  .cancel-btn:hover {
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff3131,
      0 0 5px #ff3131,
      0 0 5px #ff3131,
      0 0 5px #ff3131;
  }

  .btn {
    background-color: #fff;
    border: 1px solid #087f5b;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn:hover {
    background-color: #087f5b;
  }

  .btn--icon {
    height: 24px;
    width: 24px;
    stroke: #087f5b;
  }

  .btn--icon:hover {
    stroke: #fff;
  }
</style>