<section>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">TOURING</li>
    </ol>
     <div class="">
        <img src="/images/touring-header.jpg" class="img-fluid">
    </div>
    <div class="row">
    <div class="side-bar col-lg-3">

                    
                    <!--preference -->
                    <div class="left-side my-4">
                        <a class="btn active ms-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    PRODUCTS
  </a>
 

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" class="checked" 
                                <span class="span">RACING</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">SPORT</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked"checked>
                                <span class="span">TOURING</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">OFF-ROAD</span>
                            </li>
                           
                        </ul>
                    </div>
</div>
                    </div>
                    <!-- // preference -->
               
                    <!-- sizes -->
                   <div class="left-side my-4">
                      <a class="btn active ms-3" data-bs-toggle="collapse" href="#sizecollapsee" role="button" aria-expanded="false" aria-controls="collapseExample">
    SIZES
  </a>
 

<div class="collapse" id="sizecollapse">
  <div class="card card-body">
    <ul class="w3layouts-box-list">
                            <li>
                                <input type="checkbox" class="checked" checked>
                                <span class="span">XS</span>
                                 <input type="checkbox" class="checked ms-3">
                                <span class="span">S</span>
                            </li>
                            <li>
                               
                            </li>
                            <li>
                                <input type="checkbox" class="checked">
                                <span class="span">MS</span>
                                <input type="checkbox" class="checked ms-3">
                                <span class="span">ML</span>
                            </li>
                            <li>
                                <input type="checkbox" class="checked ">
                                <span class="span">XL</span>
                                <input type="checkbox" class="checked ms-3">
                                <span class="span">L</span>
                            </li>
                            
                            <li>
                              
                                 <input type="checkbox" class="checked ">
                                <span class="span">XXL</span>
                            </li>
                           

                           
                        </ul>
  </div>
</div>
                    </div>
                    <!-- //sizes -->
                   

                </div>
                <div class="left-ads-display col-lg-8">
                    <div class="row">
                        <div class="row">
                        <div class="col-md-3 p-2">
                        <select name="sort" id="" class="form-select">
                            <option value="price low to high">price Low To High</option>
                            <option value="Price High To Low">Price High To Low</option>
                            <option value="alphabetically">By Name</option>
                            <option value="top sellers" selected>Top Sellers</option>
                            <option value="top rated">Top Rated</option>
                        </select>
                        </div>
                        </div>
                        {{#each helmetSubcategory}}
                <div class="col-md-3 col-6 col-sm-4 product-men p-1">
                    <a href="/view-product/{{this.id}}">
                        <div class="product-shoe-info shoe ">
                            <div class="men-thumb-item">
                                <img src="/images/product_images/{{this._id}}_1.jpg" class="img-fluid" style="width: 246px;height: 246px;">

                            </div>
                            <div class="item-info-product">
                                <h6 class="">
                                    <a href="shop-single.html" class="text-black">{{this.modelDetails.name}} </a>
                                    <p class="item-info-category">{{this.subcategory}}</p>
                                </h6>


                                <div class="product_price">
                                    <div class="grid-price">
                                        <span class="money">&#8377; {{this.modelDetails.price}}</span>
                                    </div>
                                </div>
                                <ul class="stars ">
                                    <li><a href="#"><span class="fa fa-star" style='color: #f3da35'
                                                aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star" style='color: #f3da35'
                                                aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star-half-o" style='color: #f3da35'
                                                aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star-half-o" style='color: #f3da35'
                                                aria-hidden="true"></span></a></li>
                                    <li><a href="#"><span class="fa fa-star-o" style='color: #f3da35'
                                                aria-hidden="true"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
                
                    </div>
                    
                </div>
    </div>
</section>