<script src="/javascripts/ajax.js"></script>
<style>
    body {
        background: -webkit-linear-gradient(left, #000, rgb(228, 228, 19));
    }
</style>
<section>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">{{product.model}}</li>
    </ol>
    <div class="container">


        <div class="cart">
            <div class="row row1">
                <div class="col-md-4 col-12">
                    <img src="/images/product_images/{{product._id}}_1.jpg" width="100%" id="ProductImg">
                    <div class="small-imgs">
                        <img src="/images/product_images/{{product._id}}_1.jpg" width="100%" class="small-img">
                        <img src="/images/product_images/{{product._id}}_2.jpg" width="100%" class="small-img">
                        <img src="/images/product_images/{{product._id}}_3.jpg" width="100%" class="small-img">
                        <img src="/images/product_images/{{product._id}}_4.jpg" width="100%" class="small-img">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <h1 class="product-title">{{product.modelDetails.name}}</h1>
                    <div class="reviews">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <p>240 reviews</p>
                    </div>
                    <div class="price">
                        <span>&#8377; {{product.modelDetails.price}}</span>
                        <span>$49.99</span>
                    </div>
                    <div class="row">

                        <div class="col-md-4 sze">
                            <h5>Size</h5>

                            <select class="form-select form-select-sm" id="selectedSize">

                                {{#each product.modelDetails.size}}
                                <option id="" value="{{this.size}}">{{this.size}}</option>
                                {{/each}}

                            </select>
                        </div>
                    </div>
                    <div id="product" class="product-inf">
                    </div>
                    <div class="buttons">
                        <div class="row">
                            <div class="col-md-6">
                                <button onclick="addToWishlist('{{product._id}}')" class="custom-btn">WISH LIST <i
                                        class="fa-solid fa-heart-circle-plus"></i></button>
                            </div>
                            <div class="col-md-6">
                                <button class="custom-btn"
                                    onclick="addToCart('{{product._id}}',$('#selectedSize').val())">ADD TO CART<i
                                        class="fas fa-angle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-md-6"> Description
                    <h5>{{product.modelDetails.description}}</h5>
                    Features
                    <h5>{{product.modelDetails.features}}</h5>

                </div>
                <div class="col-md-6">

                    <img src="/images/product_images/{{product._id}}_1.jpg" width="100%" id="ProductImg">
                    <img src="/images/product_images/{{product._id}}_3.jpg" width="100%" id="ProductImg">
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
<script>
    var ProductImg = document.getElementById("ProductImg");
    var SmallImg = document.getElementsByClassName("small-img");

    $(document).ready(function () {
        $(SmallImg[0]).click(function () {
            ProductImg.src = SmallImg[0].src
        });
        $(SmallImg[1]).click(function () {
            ProductImg.src = SmallImg[1].src
        });
        $(SmallImg[2]).click(function () {
            ProductImg.src = SmallImg[2].src
        });
        $(SmallImg[3]).click(function () {
            ProductImg.src = SmallImg[3].src
        });
        $('.product-inf a').click(function () {

            $('.product-inf li').removeClass('active');
            $(this).parent().addClass('active');

            let currentTab = $(this).attr('href');
            $('.tabs-content div').hide();
            $(currentTab).show();

            return false;
        });
    });
</script>