<link rel="stylesheet" href="/stylesheets/user-profile.css">
<section>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Wishlist</li>
  </ol>


  <div class="container p-5 emp-profile">

    <div class="row table-responsive" id="wishlistItems">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th class="h5">Wishlist</th>

          </tr>
        </thead>
        <tbody class="col-12" id="">
          {{#each wishlist.products}}
          <tr>
            <th scope="row">
              <div class="d-flex align-items-center">
                <img src="/images/product_images/{{this._id}}_1.jpg" class="img-fluid rounded-3" style="width: 120px;"
                  alt="img">
                  <td>
                <div class="flex-column ms-4">
                  <h6><strong>{{this.modelDetails.name}}</strong></h6>
                  <h6 style="font-family:sans-serif;">{{this.subcategory}}</h6>

                  <h6>{{this.category}}</h6>
                </div>
                </td>
              </div>
            </th>

            <td class="align-middle ">
              <select class="form-select form-select-sm" id="{{this._id}}">

                {{#each this.modelDetails.size}}
                <option id="" value="{{this.size}}">{{this.size}}</option>
                {{/each}}

              </select>
            </td>


            <td class="align-middle">
              <m class="" style="font-weight: 500;">&#8377; {{this.modelDetails.price}}</m>
            </td>
            <td class="align-middle">
              <button class="btn active" id="{{this._id}}" onclick="addToCart('{{this._id}}',
                        $('#{{this._id}}').val(),'{{../wishlist._id}}')"> <i class="fa-solid fa-cart-plus"> </i> ADD TO
                CART </button>
            </td>
            <td>
              <a style="cursor:pointer ;" onclick="removeWishlistItem('{{../wishlist._id}}','{{this._id}}')"><i
                  class="fa-regular fa-circle-xmark fs-5 text-danger"></i></a>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

  </div>
</section>
<script src="/javascripts/ajax.js"></script>